@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Noto+Serif:regular,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #353535;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 400;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 56.25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  background: #353535;
  width: 100%;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 10;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5rem;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-right: 0.9375rem;
  position: relative;
  z-index: 5;
}

@supports (font-size: clamp( 1.125rem , 1.0594262295rem  +  0.3278688525vw , 1.25rem )) {
  .header__logo {
    font-size: clamp( 1.125rem , 1.0594262295rem  +  0.3278688525vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0594262295rem  +  0.3278688525vw , 1.25rem )) {
  .header__logo {
    font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 38.125);
  }
}

.menu__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (gap: clamp( 0.625rem , -1.3422131148rem  +  9.8360655738vw , 4.375rem )) {
  .menu__list {
    gap: clamp( 0.625rem , -1.3422131148rem  +  9.8360655738vw , 4.375rem );
  }
}

@supports not (gap: clamp( 0.625rem , -1.3422131148rem  +  9.8360655738vw , 4.375rem )) {
  .menu__list {
    gap: calc(0.625rem + 3.75 * (100vw - 20rem) / 38.125);
  }
}

.menu__list .menu__link {
  text-transform: uppercase;
}

@supports (font-size: clamp( 0.875rem , 0.8094262295rem  +  0.3278688525vw , 1rem )) {
  .menu__list .menu__link {
    font-size: clamp( 0.875rem , 0.8094262295rem  +  0.3278688525vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8094262295rem  +  0.3278688525vw , 1rem )) {
  .menu__list .menu__link {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 38.125);
  }
}

.menu__list li {
  position: relative;
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #4d4d4d;
  padding: 15px;
  min-width: 9.375rem;
}

.menu__sub-list li {
  margin: 0 0 10px 0;
}

.menu__sub-list li:last-child {
  margin: 0;
}

.menu__sub-list .menu__sub-link {
  text-transform: uppercase;
}

@supports (font-size: clamp( 0.875rem , 0.8094262295rem  +  0.3278688525vw , 1rem )) {
  .menu__sub-list .menu__sub-link {
    font-size: clamp( 0.875rem , 0.8094262295rem  +  0.3278688525vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8094262295rem  +  0.3278688525vw , 1rem )) {
  .menu__sub-list .menu__sub-link {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 38.125);
  }
}

.menu__sub-list .menu__sub-link li {
  margin: 0px 0px 10px 0px;
}

.menu__sub-list .menu__sub-link:last-child {
  margin: 0;
}

body._pc .menu__arrow {
  display: none;
}

body._pc .menu__list li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list li:nth-child(2) {
  margin-left: 18px;
}

body._touch .menu__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body._touch .menu__list li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 1s 1s;
  -o-transition: all 1s 1s;
  transition: all 1s 1s;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list li._active .menu__sub-list li {
  margin-left: 0;
}

body._touch .menu__list li._active .menu__arrow {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

body._touch .menu__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 0px 0px 0px 5px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #fff;
}

body._lock {
  overflow: hidden;
}

.desc-about {
  padding: 5rem 0rem 3.125rem 0rem;
}

.desc-about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.desc-about__images {
  padding-bottom: 1.875rem;
}

.desc-about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.desc-about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.desc-about__img img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.desc-about__title {
  text-align: right;
}

.desc-about__text p:not(:last-child) {
  margin-bottom: 20px;
}

.desc-about__text {
  padding-left: 1.875rem;
  max-width: 31.25rem;
  font-weight: 300;
  line-height: 120%;
  text-align: right;
}

@supports (font-size: clamp( 1.125rem , 0.993852459rem  +  0.6557377049vw , 1.375rem )) {
  .desc-about__text {
    font-size: clamp( 1.125rem , 0.993852459rem  +  0.6557377049vw , 1.375rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.993852459rem  +  0.6557377049vw , 1.375rem )) {
  .desc-about__text {
    font-size: calc(1.125rem + 0.25 * (100vw - 20rem) / 38.125);
  }
}

.title {
  font-family: "Noto Serif";
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.03em;
}

@supports (padding-bottom: clamp( 0.9375rem , 0.4456967213rem  +  2.4590163934vw , 1.875rem )) {
  .title {
    padding-bottom: clamp( 0.9375rem , 0.4456967213rem  +  2.4590163934vw , 1.875rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.4456967213rem  +  2.4590163934vw , 1.875rem )) {
  .title {
    padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 38.125);
  }
}

@supports (font-size: clamp( 2rem , 1.737704918rem  +  1.3114754098vw , 2.5rem )) {
  .title {
    font-size: clamp( 2rem , 1.737704918rem  +  1.3114754098vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 2rem , 1.737704918rem  +  1.3114754098vw , 2.5rem )) {
  .title {
    font-size: calc(2rem + 0.5 * (100vw - 20rem) / 38.125);
  }
}

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  gap: 0.9375rem;
}

.images__item:first-child {
  z-index: 5;
  margin-bottom: -3.125rem;
}

@supports (margin-left: clamp( 0.0000000625rem , -7.0819671178rem  +  35.4098359016vw , 13.5rem )) {
  .images__item:first-child {
    margin-left: clamp( 0.0000000625rem , -7.0819671178rem  +  35.4098359016vw , 13.5rem );
  }
}

@supports not (margin-left: clamp( 0.0000000625rem , -7.0819671178rem  +  35.4098359016vw , 13.5rem )) {
  .images__item:first-child {
    margin-left: calc(0.0000000625rem + 13.4999999375 * (100vw - 20rem) / 38.125);
  }
}

.images__item img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-portfolio {
  padding: 5rem 0rem;
}

.about-portfolio__title {
  text-align: center;
}

.about-portfolio__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.875rem;
}

.about-portfolio__column:nth-child(2) {
  margin-top: 5.3125rem;
}

.about-portfolio__column:first-child {
  width: 50%;
}

.about-portfolio__img {
  margin-bottom: 0.9375rem;
}

.about-portfolio__img img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-portfolio__subtitle {
  font-family: "Noto Serif";
  font-weight: 600;
  line-height: 1.3;
}

@supports (font-size: clamp( 1rem , 0.9344262295rem  +  0.3278688525vw , 1.125rem )) {
  .about-portfolio__subtitle {
    font-size: clamp( 1rem , 0.9344262295rem  +  0.3278688525vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9344262295rem  +  0.3278688525vw , 1.125rem )) {
  .about-portfolio__subtitle {
    font-size: calc(1rem + 0.125 * (100vw - 20rem) / 38.125);
  }
}

.footer {
  background-color: #F1F2F2;
}

.footer__container {
  color: #6D6E71;
  padding: 1.75rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__slogan {
  padding-bottom: 2.1875rem;
}

.footer__link {
  line-height: 120%;
}

@supports (font-size: clamp( 0.875rem , 0.8094262295rem  +  0.3278688525vw , 1rem )) {
  .footer__link {
    font-size: clamp( 0.875rem , 0.8094262295rem  +  0.3278688525vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8094262295rem  +  0.3278688525vw , 1rem )) {
  .footer__link {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 38.125);
  }
}

.slogan__title {
  line-height: 120%;
  padding-bottom: 0.9375rem;
  text-transform: uppercase;
}

@supports (font-size: clamp( 1rem , 0.9344262295rem  +  0.3278688525vw , 1.125rem )) {
  .slogan__title {
    font-size: clamp( 1rem , 0.9344262295rem  +  0.3278688525vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9344262295rem  +  0.3278688525vw , 1.125rem )) {
  .slogan__title {
    font-size: calc(1rem + 0.125 * (100vw - 20rem) / 38.125);
  }
}

.slogan__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about {
  background: url("../img/index/about/about.jpg") 0 0/cover no-repeat;
}

.about {
  position: relative;
}

.about__container {
  position: relative;
}

.about__title {
  font-family: "Noto Serif";
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

@supports (padding-top: clamp( 6.25rem , -1.9467213115rem  +  40.9836065574vw , 21.875rem )) {
  .about__title {
    padding-top: clamp( 6.25rem , -1.9467213115rem  +  40.9836065574vw , 21.875rem );
  }
}

@supports not (padding-top: clamp( 6.25rem , -1.9467213115rem  +  40.9836065574vw , 21.875rem )) {
  .about__title {
    padding-top: calc(6.25rem + 15.625 * (100vw - 20rem) / 38.125);
  }
}

@supports (margin-left: clamp( -8.4375rem , 4.9026639344rem  +  -22.9508196721vw , 0.3125rem )) {
  .about__title {
    margin-left: clamp( -8.4375rem , 4.9026639344rem  +  -22.9508196721vw , 0.3125rem );
  }
}

@supports not (margin-left: clamp( -8.4375rem , 4.9026639344rem  +  -22.9508196721vw , 0.3125rem )) {
  .about__title {
    margin-left: calc(0.3125rem + -8.75 * (100vw - 20rem) / 38.125);
  }
}

@supports (font-size: clamp( 2rem , 1.737704918rem  +  1.3114754098vw , 2.5rem )) {
  .about__title {
    font-size: clamp( 2rem , 1.737704918rem  +  1.3114754098vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 2rem , 1.737704918rem  +  1.3114754098vw , 2.5rem )) {
  .about__title {
    font-size: calc(2rem + 0.5 * (100vw - 20rem) / 38.125);
  }
}

.about__subtitle {
  font-family: "Noto Serif";
  line-height: 125%;
  color: #FFFFFF;
}

@supports (margin-left: clamp( -8.4375rem , 4.9026639344rem  +  -22.9508196721vw , 0.3125rem )) {
  .about__subtitle {
    margin-left: clamp( -8.4375rem , 4.9026639344rem  +  -22.9508196721vw , 0.3125rem );
  }
}

@supports not (margin-left: clamp( -8.4375rem , 4.9026639344rem  +  -22.9508196721vw , 0.3125rem )) {
  .about__subtitle {
    margin-left: calc(0.3125rem + -8.75 * (100vw - 20rem) / 38.125);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.7735655738rem  +  0.8196721311vw , 1.25rem )) {
  .about__subtitle {
    padding-bottom: clamp( 0.9375rem , 0.7735655738rem  +  0.8196721311vw , 1.25rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.7735655738rem  +  0.8196721311vw , 1.25rem )) {
  .about__subtitle {
    padding-bottom: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 38.125);
  }
}

@supports (font-size: clamp( 1rem , 0.9344262295rem  +  0.3278688525vw , 1.125rem )) {
  .about__subtitle {
    font-size: clamp( 1rem , 0.9344262295rem  +  0.3278688525vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9344262295rem  +  0.3278688525vw , 1.125rem )) {
  .about__subtitle {
    font-size: calc(1rem + 0.125 * (100vw - 20rem) / 38.125);
  }
}

.work-desc {
  padding: 4.375rem 0rem;
}

.work-desc__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 3.125rem;
}

.work-desc__title {
  max-width: 20.8125rem;
  padding: 0;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.work-desc__img {
  padding-left: 0.9375rem;
}

.work-desc__img img {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.work-desc__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -10px;
}

.work-desc__item {
  padding: 0 10px;
}

.work-desc__subtitle {
  font-weight: 500;
  line-height: 120%;
  padding-bottom: 1.25rem;
}

@supports (font-size: clamp( 1rem , 0.9344262295rem  +  0.3278688525vw , 1.125rem )) {
  .work-desc__subtitle {
    font-size: clamp( 1rem , 0.9344262295rem  +  0.3278688525vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9344262295rem  +  0.3278688525vw , 1.125rem )) {
  .work-desc__subtitle {
    font-size: calc(1rem + 0.125 * (100vw - 20rem) / 38.125);
  }
}

.work-desc__text {
  font-weight: 300;
  line-height: 120%;
}

@supports (font-size: clamp( 0.875rem , 0.8094262295rem  +  0.3278688525vw , 1rem )) {
  .work-desc__text {
    font-size: clamp( 0.875rem , 0.8094262295rem  +  0.3278688525vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8094262295rem  +  0.3278688525vw , 1rem )) {
  .work-desc__text {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 38.125);
  }
}

.about-price__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (padding-top: clamp( 1.25rem , -0.0614754098rem  +  6.5573770492vw , 3.75rem )) {
  .column__item:not(:first-child) {
    padding-top: clamp( 1.25rem , -0.0614754098rem  +  6.5573770492vw , 3.75rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , -0.0614754098rem  +  6.5573770492vw , 3.75rem )) {
  .column__item:not(:first-child) {
    padding-top: calc(1.25rem + 2.5 * (100vw - 20rem) / 38.125);
  }
}

.column__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #353535;
}

@supports (padding-bottom: clamp( 1.25rem , -0.0614754098rem  +  6.5573770492vw , 3.75rem )) {
  .column__item {
    padding-bottom: clamp( 1.25rem , -0.0614754098rem  +  6.5573770492vw , 3.75rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.0614754098rem  +  6.5573770492vw , 3.75rem )) {
  .column__item {
    padding-bottom: calc(1.25rem + 2.5 * (100vw - 20rem) / 38.125);
  }
}

.column__title {
  font-weight: 600;
  line-height: 120%;
  min-width: 6.5625rem;
}

@supports (font-size: clamp( 1.125rem , 0.993852459rem  +  0.6557377049vw , 1.375rem )) {
  .column__title {
    font-size: clamp( 1.125rem , 0.993852459rem  +  0.6557377049vw , 1.375rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.993852459rem  +  0.6557377049vw , 1.375rem )) {
  .column__title {
    font-size: calc(1.125rem + 0.25 * (100vw - 20rem) / 38.125);
  }
}

.column__items:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.column__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  line-height: 120%;
  padding-bottom: 0.625rem;
  border-bottom: 1px solid #353535;
}

@supports (font-size: clamp( 0.875rem , 0.743852459rem  +  0.6557377049vw , 1.125rem )) {
  .column__items {
    font-size: clamp( 0.875rem , 0.743852459rem  +  0.6557377049vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.743852459rem  +  0.6557377049vw , 1.125rem )) {
  .column__items {
    font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 38.125);
  }
}

.column__subtitle {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-right: 3.75rem;
}

.column__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column__img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.column__price {
  font-weight: 600;
  line-height: 120%;
}

@supports (font-size: clamp( 1.125rem , 0.993852459rem  +  0.6557377049vw , 1.375rem )) {
  .column__price {
    font-size: clamp( 1.125rem , 0.993852459rem  +  0.6557377049vw , 1.375rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.993852459rem  +  0.6557377049vw , 1.375rem )) {
  .column__price {
    font-size: calc(1.125rem + 0.25 * (100vw - 20rem) / 38.125);
  }
}

.column__slogan {
  line-height: 130%;
  min-width: 6.5625rem;
}

.column__slogan__title {
  display: block;
}

.stages {
  padding: 4.375rem 0rem;
}

.stages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stages__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 3.125rem;
}

.stages__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.stages__title {
  margin-left: 1.25rem;
  padding: 0;
  line-height: 1.2;
  max-width: 21.5625rem;
}

.stages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}

.stages__item {
  padding: 0 15px;
}

.stages__subtitle {
  font-weight: 500;
  line-height: 120%;
}

@supports (font-size: clamp( 1rem , 0.9672131148rem  +  0.1639344262vw , 1.0625rem )) {
  .stages__subtitle {
    font-size: clamp( 1rem , 0.9672131148rem  +  0.1639344262vw , 1.0625rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9672131148rem  +  0.1639344262vw , 1.0625rem )) {
  .stages__subtitle {
    font-size: calc(1rem + 0.0625 * (100vw - 20rem) / 38.125);
  }
}

@supports (padding-bottom: clamp( 0.625rem , 0.2971311475rem  +  1.6393442623vw , 1.25rem )) {
  .stages__subtitle {
    padding-bottom: clamp( 0.625rem , 0.2971311475rem  +  1.6393442623vw , 1.25rem );
  }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.2971311475rem  +  1.6393442623vw , 1.25rem )) {
  .stages__subtitle {
    padding-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 38.125);
  }
}

.stages__text {
  font-weight: 300;
  line-height: 120%;
}

@supports (font-size: clamp( 0.875rem , 0.8094262295rem  +  0.3278688525vw , 1rem )) {
  .stages__text {
    font-size: clamp( 0.875rem , 0.8094262295rem  +  0.3278688525vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8094262295rem  +  0.3278688525vw , 1rem )) {
  .stages__text {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 38.125);
  }
}

.contact {
  padding: 4.375rem 0rem;
}

.contact__title {
  padding: 0;
  padding-bottom: 3.125rem;
}

.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.contact__form {
  width: 50%;
}

.contact__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact__img:first-child {
  padding-top: 2.5rem;
  margin-top: -3.75rem;
}

.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 1.25rem;
}

.contact__info {
  padding-top: 4.375rem;
  font-weight: 700;
  line-height: 120%;
  text-align: right;
}

@supports (font-size: clamp( 1rem , 0.9344262295rem  +  0.3278688525vw , 1.125rem )) {
  .contact__info {
    font-size: clamp( 1rem , 0.9344262295rem  +  0.3278688525vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9344262295rem  +  0.3278688525vw , 1.125rem )) {
  .contact__info {
    font-size: calc(1rem + 0.125 * (100vw - 20rem) / 38.125);
  }
}

.contact__subtitle {
  padding-bottom: 1.25rem;
}

.contact__numb {
  font-weight: 500;
}

.contact__mail {
  font-weight: 500;
}

.contact__social {
  padding-top: 1.5625rem;
  gap: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form {
  max-width: 26.875rem;
  width: 100%;
  color: #353535;
}

.form * {
  outline: none;
}

.form__body {
  position: relative;
}

.form__body._sending::after {
  opacity: 1;
  visibility: visible;
}

.form__item {
  margin-bottom: 1.875rem;
}

.form__label {
  display: block;
  margin-bottom: 0.125rem;
}

@supports (font-size: clamp( 0.75rem , 0.6844262295rem  +  0.3278688525vw , 0.875rem )) {
  .form__label {
    font-size: clamp( 0.75rem , 0.6844262295rem  +  0.3278688525vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.6844262295rem  +  0.3278688525vw , 0.875rem )) {
  .form__label {
    font-size: calc(0.75rem + 0.125 * (100vw - 20rem) / 38.125);
  }
}

.form__input {
  border-bottom: 2px solid #353535;
  height: 2.8125rem;
  padding: 0rem 0.3125rem;
  width: 100%;
  font-weight: 500;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@supports (font-size: clamp( 0.875rem , 0.8094262295rem  +  0.3278688525vw , 1rem )) {
  .form__input {
    font-size: clamp( 0.875rem , 0.8094262295rem  +  0.3278688525vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8094262295rem  +  0.3278688525vw , 1rem )) {
  .form__input {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 38.125);
  }
}

.form__input._error {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

textarea.form__input {
  min-height: 2.8125rem;
  resize: vertical;
  padding: 0.3125rem;
}

.checkbox._error .checkbox__label::before {
  -webkit-box-shadow: 0 0 15px rgba(253, 40, 40, 0.8);
          box-shadow: 0 0 15px rgba(253, 40, 40, 0.8);
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + .checkbox__label::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.checkbox__label {
  margin-top: -0.625rem;
  width: 100%;
  line-height: 120%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

@supports (font-size: clamp( 0.75rem , 0.6844262295rem  +  0.3278688525vw , 0.875rem )) {
  .checkbox__label {
    font-size: clamp( 0.75rem , 0.6844262295rem  +  0.3278688525vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.6844262295rem  +  0.3278688525vw , 0.875rem )) {
  .checkbox__label {
    font-size: calc(0.75rem + 0.125 * (100vw - 20rem) / 38.125);
  }
}

.checkbox__label::before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22px;
          flex: 0 0 22px;
  height: 22px;
  border: 1px solid #353535;
  margin: 0px 10px 0px 0px;
}

.checkbox__label::after {
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #353535;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.checkbox__label a {
  color: #666666;
}

.checkbox__label a:hover {
  color: #bebebe;
}

.form__button {
  width: 13.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  background-color: #353535;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
  position: relative;
}

@supports (font-size: clamp( 1rem , 0.9344262295rem  +  0.3278688525vw , 1.125rem )) {
  .form__button {
    font-size: clamp( 1rem , 0.9344262295rem  +  0.3278688525vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9344262295rem  +  0.3278688525vw , 1.125rem )) {
  .form__button {
    font-size: calc(1rem + 0.125 * (100vw - 20rem) / 38.125);
  }
}

.form__button:hover {
  background-color: #464646;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.portrait {
  padding: 5rem 0rem 3.125rem 0rem;
}

.portrait__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (gap: clamp( 1.25rem , -0.0614754098rem  +  6.5573770492vw , 3.75rem )) {
  .portrait__row {
    gap: clamp( 1.25rem , -0.0614754098rem  +  6.5573770492vw , 3.75rem );
  }
}

@supports not (gap: clamp( 1.25rem , -0.0614754098rem  +  6.5573770492vw , 3.75rem )) {
  .portrait__row {
    gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 38.125);
  }
}

.portrait__form {
  padding-top: 3.75rem;
}

.portrait__form .contact__info {
  padding-top: 2.5rem;
}

.portrait__form .form {
  width: 100%;
  max-width: 62.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports (gap: clamp( 1.25rem , 0.5942622951rem  +  3.2786885246vw , 2.5rem )) {
  .portrait__form .form {
    gap: clamp( 1.25rem , 0.5942622951rem  +  3.2786885246vw , 2.5rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.5942622951rem  +  3.2786885246vw , 2.5rem )) {
  .portrait__form .form {
    gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 38.125);
  }
}

.portrait__form .form__body {
  width: 50%;
  max-width: 26.875rem;
}

.portrait__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3.125rem;
}

@supports (gap: clamp( 1.25rem , -0.0614754098rem  +  6.5573770492vw , 3.75rem )) {
  .portrait__column {
    gap: clamp( 1.25rem , -0.0614754098rem  +  6.5573770492vw , 3.75rem );
  }
}

@supports not (gap: clamp( 1.25rem , -0.0614754098rem  +  6.5573770492vw , 3.75rem )) {
  .portrait__column {
    gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 38.125);
  }
}

.portrait__column:nth-child(1) {
  display: block;
}

.family {
  padding: 5rem 0rem 3.125rem 0rem;
}

.family__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (gap: clamp( 1.25rem , -0.0614754098rem  +  6.5573770492vw , 3.75rem )) {
  .family__row {
    gap: clamp( 1.25rem , -0.0614754098rem  +  6.5573770492vw , 3.75rem );
  }
}

@supports not (gap: clamp( 1.25rem , -0.0614754098rem  +  6.5573770492vw , 3.75rem )) {
  .family__row {
    gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 38.125);
  }
}

.family__form {
  padding-top: 3.75rem;
}

.family__form .contact__info {
  padding-top: 2.5rem;
}

.family__form .form {
  width: 100%;
  max-width: 62.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports (gap: clamp( 1.25rem , 0.5942622951rem  +  3.2786885246vw , 2.5rem )) {
  .family__form .form {
    gap: clamp( 1.25rem , 0.5942622951rem  +  3.2786885246vw , 2.5rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.5942622951rem  +  3.2786885246vw , 2.5rem )) {
  .family__form .form {
    gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 38.125);
  }
}

.family__form .form__body {
  width: 50%;
  max-width: 26.875rem;
}

.family__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3.125rem;
}

@supports (gap: clamp( 1.25rem , -0.0614754098rem  +  6.5573770492vw , 3.75rem )) {
  .family__column {
    gap: clamp( 1.25rem , -0.0614754098rem  +  6.5573770492vw , 3.75rem );
  }
}

@supports not (gap: clamp( 1.25rem , -0.0614754098rem  +  6.5573770492vw , 3.75rem )) {
  .family__column {
    gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 38.125);
  }
}

.family__column:nth-child(1) {
  display: block;
}

.weeding-day {
  padding: 5rem 0rem 3.125rem 0rem;
}

.weeding-day__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (gap: clamp( 1.25rem , -0.0614754098rem  +  6.5573770492vw , 3.75rem )) {
  .weeding-day__row {
    gap: clamp( 1.25rem , -0.0614754098rem  +  6.5573770492vw , 3.75rem );
  }
}

@supports not (gap: clamp( 1.25rem , -0.0614754098rem  +  6.5573770492vw , 3.75rem )) {
  .weeding-day__row {
    gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 38.125);
  }
}

.weeding-day__form {
  padding-top: 3.75rem;
}

.weeding-day__form .contact__info {
  padding-top: 2.5rem;
}

.weeding-day__form .form {
  width: 100%;
  max-width: 62.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports (gap: clamp( 1.25rem , 0.5942622951rem  +  3.2786885246vw , 2.5rem )) {
  .weeding-day__form .form {
    gap: clamp( 1.25rem , 0.5942622951rem  +  3.2786885246vw , 2.5rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.5942622951rem  +  3.2786885246vw , 2.5rem )) {
  .weeding-day__form .form {
    gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 38.125);
  }
}

.weeding-day__form .form__body {
  width: 50%;
  max-width: 26.875rem;
}

.weeding-day__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3.125rem;
}

@supports (gap: clamp( 1.25rem , -0.0614754098rem  +  6.5573770492vw , 3.75rem )) {
  .weeding-day__column {
    gap: clamp( 1.25rem , -0.0614754098rem  +  6.5573770492vw , 3.75rem );
  }
}

@supports not (gap: clamp( 1.25rem , -0.0614754098rem  +  6.5573770492vw , 3.75rem )) {
  .weeding-day__column {
    gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 38.125);
  }
}

.weeding-day__column:nth-child(1) {
  display: block;
}

.column-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports (gap: clamp( 1.25rem , -0.0614754098rem  +  6.5573770492vw , 3.75rem )) {
  .column-portfolio {
    gap: clamp( 1.25rem , -0.0614754098rem  +  6.5573770492vw , 3.75rem );
  }
}

@supports not (gap: clamp( 1.25rem , -0.0614754098rem  +  6.5573770492vw , 3.75rem )) {
  .column-portfolio {
    gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 38.125);
  }
}

.column-portfolio__content {
  max-width: 21.875rem;
}

.column-portfolio__title {
  line-height: 1;
  padding: 0;
  margin: 0;
}

.column-portfolio__text {
  padding: 1.25rem 0rem;
  font-weight: 300;
  line-height: 120%;
}

@supports (font-size: clamp( 1rem , 0.9344262295rem  +  0.3278688525vw , 1.125rem )) {
  .column-portfolio__text {
    font-size: clamp( 1rem , 0.9344262295rem  +  0.3278688525vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9344262295rem  +  0.3278688525vw , 1.125rem )) {
  .column-portfolio__text {
    font-size: calc(1rem + 0.125 * (100vw - 20rem) / 38.125);
  }
}

.column-portfolio__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column-portfolio__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.column-portfolio__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports (gap: clamp( 1.25rem , -0.0614754098rem  +  6.5573770492vw , 3.75rem )) {
  .column-portfolio__body {
    gap: clamp( 1.25rem , -0.0614754098rem  +  6.5573770492vw , 3.75rem );
  }
}

@supports not (gap: clamp( 1.25rem , -0.0614754098rem  +  6.5573770492vw , 3.75rem )) {
  .column-portfolio__body {
    gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 38.125);
  }
}

.column-portfolio__body .column-portfolio__img:nth-child(2) {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.column-portfolio__body .column-portfolio__img img:last-child {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-height: 34.375rem;
}

@media (min-width: 767px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list li {
    padding: 10px 0;
  }

  .menu__sub-list {
    -webkit-transform: translate(0px, 10%);
        -ms-transform: translate(0px, 10%);
            transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

@media (max-width: 767px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu__icon:before,
  .menu__icon:after,
  .menu__icon span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }

  .menu__icon:before,
  .menu__icon:after {
    content: "";
  }

  .menu__icon:before {
    top: 0;
  }

  .menu__icon:after {
    bottom: 0;
  }

  .menu__icon span {
    top: 45%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .menu__icon._active::before {
    top: 45%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__icon._active::after {
    bottom: 45%;
    -webkit-transform: rotate(45deg) translate(0px, -50%);
        -ms-transform: rotate(45deg) translate(0px, -50%);
            transform: rotate(45deg) translate(0px, -50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #353535;
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body:before {
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: #353535;
    z-index: 2;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__list li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px 20px 0px;
  }

  .menu__list li._active .menu__sub-list {
    display: block;
  }

  .menu__list li:last-child {
    margin-bottom: 0;
  }

  .menu__sub-list {
    position: relative;
    background-color: #fff;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 20px 0px 0px 0px;
    display: none;
  }

  .menu__sub-list .menu__sub-link {
    font-weight: 500;
    color: #353535;
  }

@supports (font-size: clamp( 1rem , 0.9107102996rem  +  0.4464485022vw , 1.125rem )) {
    .menu__sub-list .menu__sub-link {
      font-size: clamp( 1rem , 0.9107102996rem  +  0.4464485022vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9107102996rem  +  0.4464485022vw , 1.125rem )) {
    .menu__sub-list .menu__sub-link {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 27.99875);
    }
}
}

@media (max-width: 45em) {
  .about-portfolio__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about-portfolio__column:nth-child(2) {
    margin-top: 0rem;
  }

  .about-portfolio__column:first-child {
    width: auto;
  }
}

@media (max-width: 40em) {
  .contact__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contact__form {
    width: 100%;
  }

  .contact__info {
    text-align: center;
  }

  .contact__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .form {
    max-width: 20.4375rem;
    margin: 0 auto;
  }
}

@media (max-width: 73.75em) {
  .about__title {
    margin-left: 0;
  }

  .about__subtitle {
    margin-left: 0;
  }
}

@media (max-width: 51.875em) {
  .contact__img:first-child {
    padding: 0;
    margin: 0;
  }

  .contact__row {
    padding-top: 4.375rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contact__info {
    padding: 0;
  }
}

@media (max-width: 48.05375em) {
  .stages__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.5625rem;
  }

  .stages__title {
    margin: 0;
  }

  .stages__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.25rem;
  }
}

@media (max-width: 47.99875em) {
  .header {
    opacity: 1;
  }

  .header__logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.5625rem;
  }

@supports (font-size: clamp( 1rem , 0.9107102996rem  +  0.4464485022vw , 1.125rem )) {
    .menu__list .menu__link {
      font-size: clamp( 1rem , 0.9107102996rem  +  0.4464485022vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9107102996rem  +  0.4464485022vw , 1.125rem )) {
    .menu__list .menu__link {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 27.99875);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0357102996rem  +  0.4464485022vw , 1.25rem )) {
    .menu__sub-list .menu__sub-link {
      font-size: clamp( 1.125rem , 1.0357102996rem  +  0.4464485022vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0357102996rem  +  0.4464485022vw , 1.25rem )) {
    .menu__sub-list .menu__sub-link {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 27.99875);
    }
}

  .desc-about {
    padding: 3.125rem 0rem 1.875rem 0rem;
  }

  .about-portfolio {
    padding: 3.125rem 0rem;
  }

  .work-desc {
    padding: 3.125rem 0rem;
  }

  .column__row {
    padding: 0rem 0.625rem;
  }

  .column__img {
    display: none;
  }

  .stages {
    padding: 3.125rem 0rem;
  }

  .contact {
    padding: 3.125rem 0rem;
  }

  .portrait {
    padding: 3.125rem 0rem 1.875rem 0rem;
  }

  .family {
    padding: 3.125rem 0rem 1.875rem 0rem;
  }

  .weeding-day {
    padding: 3.125rem 0rem 1.875rem 0rem;
  }

  .column-portfolio__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 42.5em) {
  .desc-about__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .desc-about__content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .desc-about__img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 1.875rem;
    margin: 0 auto;
  }

  .desc-about__title {
    padding-top: 1.25rem;
  }

  .desc-about__text {
    max-width: 100%;
    padding-left: 0;
  }

  .images__item:first-child {
    margin-left: 0;
  }
}

@media (max-width: 33.125em) {
  .column__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .column__title {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .column__row {
    padding: 1.25rem 0rem 0rem 0rem;
    margin: 0 auto;
    width: 82%;
  }

  .column__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .column__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .column__slogan {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 31.25em) {
  .work-desc__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .work-desc__title {
    max-width: 100%;
    margin-bottom: 0.9375rem;
    width: 100%;
  }

  .work-desc__img {
    padding: 0;
  }

  .work-desc__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .work-desc__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .work-desc__text {
    margin-bottom: 20px;
  }

  .portrait__form .contact__info {
    margin: 0 auto;
  }

  .portrait__form .form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .portrait__form .form__body {
    width: 100%;
  }

  .family__form .contact__info {
    margin: 0 auto;
  }

  .family__form .form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .family__form .form__body {
    width: 100%;
  }

  .weeding-day__form .contact__info {
    margin: 0 auto;
  }

  .weeding-day__form .form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .weeding-day__form .form__body {
    width: 100%;
  }
}